In [1]:
# Set the seed value for the notebook so the results are reproducible
from numpy.random import seed
seed(1)

In [2]:
import numpy as np
import pandas as pd

import warnings
warnings.simplefilter('ignore', FutureWarning)

In [3]:
employee = pd.read_csv('employee.csv')
for col in employee.columns:
    print(col)

employee_name
employee_id
is_married
marital_status_id
employee_status_id
department_id
perf_score_id
is_diversity_job_fair
employee_salary
is_active
is_terminated
position_id
position
location_state
location_zip
employee_dob
gender_id
gender_code
is_underrep_gender
marital_status_name
is_citizen
citizenship_status
is_hispanic_latino
employee_race_ethnicity
is_underrep_race_eth
hired_date
terminated_date
terminated_reason
employee_status
department
source_recruiting
perf_score
survey_engagement_score
survey_emp_satisfaction_score
count_special_projects
last_perf_review_date
count_days_late_past_30_days
count_absences

In [4]:
employee = employee.drop(['employee_name','position','location_state','employee_dob','location_zip','gender_code','marital_status_name','citizenship_status','employee_race_ethnicity','terminated_reason','employee_status','department','source_recruiting','perf_score','hired_date','terminated_date','last_perf_review_date'],axis=1)
employee

,employee_id,is_married,marital_status_id,employee_status_id,department_id,perf_score_id,is_diversity_job_fair,employee_salary,is_active,is_terminated,...,gender_id,is_underrep_gender,is_citizen,is_hispanic_latino,is_underrep_race_eth,survey_engagement_score,survey_emp_satisfaction_score,count_special_projects,count_days_late_past_30_days,count_absences
0,10184,0,0,1,5,3,0,65288,1,0,...,1,1,1,0,0,3.19,3,0,0,9
1,10104,0,0,1,5,3,0,66738,1,0,...,0,0,1,0,0,4.53,5,0,0,5
2,10047,1,1,3,5,3,0,50428,0,1,...,1,1,1,0,1,5.00,3,0,0,11
3,10044,1,1,3,3,3,0,75281,0,1,...,1,1,1,0,0,5.00,3,5,0,11
4,10238,1,1,1,2,3,1,63000,1,0,...,0,0,1,0,1,4.50,2,6,0,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,10006,0,0,1,6,4,0,74241,1,0,...,0,0,1,0,0,4.77,5,0,0,14
307,10161,0,0,1,6,3,0,58370,1,0,...,0,0,1,0,1,3.69,3,0,0,18
308,10304,0,0,1,6,1,0,59231,1,0,...,0,0,1,1,0,2.30,1,0,2,17
309,10252,1,1,3,5,3,1,54670,0,1,...,0,0,1,1,1,4.20,4,0,0,12
310,10066,0,2,3,5,3,0,52505,0,1,...,1,1,1,0,0,5.00,5,0,0,1